[submodule "hive-zerotohero"]
	path = course/notebook/hive-zerotohero
	url = https://github.com/BSlience/hive-zerotohero.git
[submodule "spark-zerotohero"]
	path = course/notebook/spark-zerotohero
	url = https://github.com/BSlience/spark-zerotohero.git
[submodule "recommend-system-zerotohero"]
	path = course/notebook/recommend-system-zerotohero
	url = https://github.com/BSlience/recommend-system-zerotohero.git
[submodule "hbase-zerotohero"]
	path = course/notebook/hbase-zerotohero
	url = https://github.com/BSlience/hbase-zerotohero.git
[submodule "machine-learning-zerotohero"]
	path = course/notebook/machine-learning-zerotohero
	url = https://github.com/BSlience/machine-learning-zerotohero.git
[submodule "tensorflow-developer-certificate"]
	path = course/notebook/tensorflow-developer-certificate
	url = https://github.com/BSlience/tensorflow-developer-certificate.git
