dataset/ml-latest.zip
dataset/ml-latest/genome-scores.csv
dataset/ml-latest/genome-tags.csv
dataset/ml-latest/links.csv
dataset/ml-latest/movies.csv
dataset/ml-latest/ratings.csv
dataset/ml-latest/README.txt
dataset/ml-latest/tags.csv
docker-environment/breweries.csv
docker-environment/zeppelin-lab/zeppelin-0.9.0-bin-all.tgz
course/~Trash/

course/spark/spark-py-notebooks
dataset/kddcup.data_10_percent.gz
dataset/kddcup.data.gz
